doctype html
html
  head
    title Search Slideshare
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Search Slideshare
    form(action='/')
      input(type='text' name='q' id='q')
      input(type='submit' value='검색')
    block content
